.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 15px/20px var(--balsamiq);
  position: relative;
  border: 3px solid #e40001;
  border-radius: 4px;
  cursor: pointer;
  // color: whitesmoke;
}

.button-primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  transition: background 1s ease;
  box-shadow: var(--box-shadow);
}

.button-primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button-primary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  content: "";
  z-index: -1;
  border-radius: 4px;
}

.button-secondary-button {
  background: wheat;
  background-clip: padding-box;
  transition: background 0.7s ease;
  @include respond(tab-port) {
    display: none;
  }
}

.button-secondary-button:hover {
  background: var(--gradient-color);
  color: black;
  box-shadow: var(--box-shadow);
}
