.about-area {
  // background-color: #d84633;
  @include respond(phone) {
    width: 50rem;
  }
}

.about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/60px var(--balsamiq);
  letter-spacing: 5px;
  color: var(--text-color);
}

.about-area .about-title .paragraph > p {
  padding: 0.4rem 0;
  color: var(--text-color);

  @include respond(phone) {
    font-size: 1.5rem;
    letter-spacing: 2px;
    width: 48rem;
  }
  @include respond(tab-port) {
    font-size: 1.5rem;
    letter-spacing: 2px;
    width: 46rem;
  }
}

.brand-area {
  padding: 1rem 20rem;
  margin-bottom: 4rem;
}

.brand-area .first-row .col-lg-4 {
  display: flex;
  justify-content: center;
}

.brand-area .first-row .col-lg-4 > .single-brand {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 1.8rem 0rem;
  margin: 0.9rem 0;
  width: 180px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.4s ease;
  @include respond(phone) {
    float: left;
    position: relative;
    z-index: 10;
  }
}
.brand-area .first-row .col-lg-4 > .single-brand > img {
  width: 5rem;
  height: 4rem;
}

.brand-area .first-row .col-lg-4 > .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.brand-area .first-row .col-lg-4 > .single-brand:hover {
  filter: brightness(0.7);
}

.brand-area .experience-area {
  padding-left: 1rem;
}
.brand-area .experience-area span {
  display: block;
}

.brand-area .experience-area {
  padding: 2rem 0;
  width: 40rem;
  height: 18rem;
  padding-left: 8rem;
  position: relative;
}

.brand-area .experience-area .bg-panel {
  position: absolute;
  left: -190px;
  top: 0%;
  background: #e029290a;
  width: 300px;
  height: 300px;
  margin-left: 340px;
  z-index: -1;
}

.brand-area .experience-area .years-area .years {
  font: normal bold 84px/40px var(--balsamiq);
  color: var(-primary-color2);
  z-index: 2;
}

.brand-area .experience-area .years-area h2 > span {
  font: normal 600 22px/20px var(--balsamiq);
}

.brand-area .experience-area .call-area {
  padding-left: 10rem;
}
