@import "../abstracts/mixins";
.title-text {
  font: normal bold 50px/72px var(--balsamiq);
  color: var(--text-color);
}

.text-uppercase {
  text-transform: uppercase;
}

p.para {
  color: var(--text-color);
  font: normal 500 16px/25px var(--balsamiq);
  font-size: 1.5rem;
  @include respond(big-desktop) {
    // margin-bottom: 15rem;
  }
}

.banner_para {
  color: var(--text-color);
  font: normal 500 16px/25px var(--balsamiq);
  @include respond(tab-land) {
    margin-top: 3rem;
  }
}

.font-roboto {
  font-family: var(--balsamiq);
  border: 3px solid #e40001;
  border-radius: 4px;
}

button:focus,
button:active button:hover.btn:active,
.btnactive {
  outline: 0px !important;
  box-shadow: none !important;
}
