:root {
  --primary-color: #ebf5fc;
  --primary-color2: #ffcf7a;
  --title-color: black;
  --text-color: #7bb076;
  --border-color: #201f1f17;
  --gradient-color: linear-gradient(90deg, #ffffff 0%, #e6e6e6 100%);
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 10px 10px 5px 0px rgba(10, 10, 10, 1);

  // --roboto: "Roboto", cursive;
  --balsamiq: "Balsamiq Sans";
}
$font-Black: "Tiempos Headline Black", sans-serif;
$font-BlackItalic: "Tiempos Headline Black Italic", sans-serif;
$font-Bold: "Tiempos Headline Bold", sans-serif;
$font-BoldItalic: "Tiempos Headline Bold Italic", sans-serif;
$font-Light: "Tiempos Headline Light", sans-serif;
$font-LightItalic: "Tiempos Headline Light Italic", sans-serif;
$font-Medium: "Tiempos Headline Medium", sans-serif;
$font-MediumItalic: "Tiempos Headline Medium Italic", sans-serif;
$font-Regular: "Tiempos Headline Regular", sans-serif;
$font-RegularItalic: "Tiempos Headline Regular Italic", sans-serif;
$font-Semibold: "Tiempos Headline Semibold", sans-serif;
$font-SemiboldItalic: "Tiempos Headline Semibold Italic", sans-serif;
