footer.footer-area {
  padding: 1rem;
}

footer.footer-area .social h5 {
  font: normal 500 23px/30px var(--roboto);
}

footer.footer-area .social a {
  font-size: 22px;
  padding: 2rem;
  color: red;
}

footer.footer-area .social a:hover {
  color: var(--primary-color);
}
