@import "~bootstrap/scss/bootstrap";
@import "../assets/layout/variables";
@import "../assets/layout/banner";
@import "../assets/layout/text";
@import "../assets/layout/about";
@import "../assets/layout/portfolio";
@import "../assets/layout/services";
@import "../assets/components/button";
@import "../assets/components/footer";
@import "../assets/components/subscribe";
@import "../assets/components/responsive";
@import "../assets/components/animations";
@import "../assets/components/navbar";
@import "../assets/components/slider";
@import "../assets/components/navigation";
@import "../assets/components/card";

@import "../assets/abstracts/mixins";

@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;1,700&display=swap");

.logo {
  height: 3rem;
}

.site-main {
  padding-top: 7rem;
  background-color: #ffcf7a;
  height: 42rem;
  border-radius: 3rem 12rem 12rem;
  border: 3px solid springgreen;
  @include respond(tab-port) {
    // top: 4.5rem;
    width: 50rem;
  }
}
.header_area .nav-link {
  font: bold 500 10px/2px var(--balsamiq);

  font-family: "Balsamiq Sans", cursive;
  text-transform: uppercase;
  padding: 1.7rem;
  color: transparent;
  background: transparent;
}

.header_area .nav-link:hover {
  // background: var(--text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-color: #7bb076;
  // color: #7bb076;
  cursor: pointer;
}

.title-text {
  animation-name: moveInLeft;
  animation-duration: 3s;
}

.banner-image {
  animation-name: moveInBottom;
  animation-duration: 3s;
  @include respond(phone) {
    height: 13rem;
    margin-bottom: 6.9rem;
  }
  @include respond(tab-port) {
    height: 10rem;
    margin-bottom: 10.2rem;
  }
}

.banner-image > img {
  @include respond(tab-land) {
    height: 28rem;
    width: 10rem;
    margin-top: -5rem;
  }
}

.color_span {
  color: white;
}

.color_a {
  color: white;
}

.color_a:hover {
  color: white;
}
